/* Base Application Styles */

.madlib-line {
  display: block;
  height: 20px;
}

.madlib-line.last-of-chunk + .madlib-line {
  display: inline-block;
}

.user-submitted-value {
  text-decoration: underline;
}

.madlib-form {
	position: relative;
	display: flex;
	max-width: 600px;
	margin: 0 auto;
	flex-direction: column;
	transition: all 0.3s ease;
	transform: translateX(-100px);
	&.loaded {
		transform: translateX(0);
	}
	fieldset {
		border: none;
		padding: 0;
	}
	.form-group {
		margin-bottom: 1em;
		label {
			display: block;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 4px;
		}
		input {
			border: 1px solid lightblue;
		}
		&.has-error {
			input {
				border: 1px solid tomato;
				&:focus {
					~ span {
						display: none;
					}
				}
			}
		}
		.help-block {
			display: block;
			color: tomato;
		}
	}
}