/* Variables */

/* Font sizes */
@h1: 2.4615384615em;
@h2: 1.8461538462em;
@base: 1.0769230769em;
@button: 1.3846153846em;
@madlib-line-base: 0.9230769231em;
@madlib-line-full: 1.2307692308em;

/* Colors */
@blue: #018ed5;
@blue-hover: #019fee;


/* Base Form Styles */

.main {
  font-family: proxima-nova, arial, helvetica, sans-serif;
  padding: 0 10px;
  margin: 0 10px;
}

.heading-1 {
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
  text-align: center;
  background: @blue;

  img {
    width: 100px;
    display: none;
    &:hover {
      -webkit-animation-name:             rotate; 
      -webkit-animation-duration:         0.5s; 
      -webkit-animation-iteration-count:  once;
      -webkit-transition-timing-function: linear;
              animation-name:             rotate; 
              animation-duration:         0.5s; 
              animation-iteration-count:  once;
              transition-timing-function: linear;
    }
  }

  h1 {
    color: #fff;
    font-size: @h1;
    font-weight: 600;
    display: inline-block;
  }
}

.madlib-form,
.submitted-madlib-container {
  border-radius: 4px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25);

  h2 {
    font-size: @h2;
    padding: 10px;
    text-align: center;
  }
}

.fieldset {
  margin: 0 auto;
  border: none;
  padding-bottom: 10px;

  .control-label {
    font-size: @base;
    padding-top: 0;
  }

  input.form-control {
    height: 24px;
    font-size: @base;
    transition: all .2s ease;
  }
}

.error-block {
  -webkit-animation: fadeIn .3s;
  animation: fadeIn .3s;
  font-size: @base;
}

.form-group-wordEndingWithLy input:focus + .error-block {
  display: none;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

.submit-button,
.back-button {
  border-radius: 4px;
  font-size: @button;
  font-weight: 600;
  color: #fff;
  background: @blue;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
  transition: all .2s ease;
  &:hover {
    background: @blue-hover;
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
  }
}

/* Madlib page specific styles */

.submitted-madlib {
  padding: 0 20px;
}

.madlib-line {
  display: block;
  text-align: center;
  height: 20px;
  font-size: @madlib-line-base;
}

.madlib-line.last-of-chunk + .madlib-line {
  display: inline-block;
}

.user-submitted-value {
  text-decoration: underline;
}

.back-button {
  margin-bottom: 20px;
}

/* Media Queries */

@media (min-width: 450px) {
  .main {
    margin: 0 45px;
  }

  .heading-1 img {
    display: inline-block;
  }

  .madlib-line {
    font-size: @madlib-line-full;
  }
}

@media (min-width: 1074px) {
  .main {
    margin: 0px 100px;
  }
}